{% extends 'front/front_base.html' %}

{% block header %}
    <script src="{{ url_for('static', filename='front/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='front/js/front_index.js') }}"></script>
    <script type="text/javascript" src="http://www.jq22.com/demo/clipboard.js-master201703170013/dist/clipboard.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/front_index.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}


{% block main %}
    <fieldset class="layui-elem-field layui-field-title" id="top">
        <legend style="color: red" class="upload_text">图片上传</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-md4">
            <div class="layui-upload-drag" id="headImg">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
        <div class="layui-col-md4" id="show" style="display: none">
            <div class="layui-row" id="out_show_div">
                <div class="layui-col-md8 show_div" id="show_div">
                    <img src=""
                         width="200"
                         height="150" class="pic">
                </div>
                <div class="layui-col-md4" style="padding: 10px" id="show_btn">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm copy" id="copy">copy</button>
                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger delete" data="show">删除</button>
                </div>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend style="color: blue">历史上传</legend>
    </fieldset>
    <div class="layui-row" id="history">
        {% if images %}
            {% for image in images %}
                <div class="layui-col-md2">
                    <div class="layui-row" id="out_show_div">
                        <div class="layui-col-md8 show_div">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" lay-src="{{ image.link }}"
                                 alt="{{ image.name }}" width="100"
                                 height="100" class="pic">
                        </div>
                        <div class="layui-col-md4" style="padding: 10px">
                            <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm copy" id="copy"
                                    data-clipboard-text="{{ image.link }}">copy
                            </button>
                            <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-danger delete"
                                    data-id="{{ image.id }}">删除
                            </button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <h3>暂无图片上传，赶紧上传吧</h3>
        {% endif %}
    </div>
    <script>
        $(function () {    //copy链接
            var clipboard = new Clipboard('.copy');
            clipboard.on('success', function (e) {
                layer.msg("已拷贝到粘贴版");
            });

            clipboard.on('error', function (e) {
                console.log(e);
            });

        });
        $(function () {
            $(".delete").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var id = self.attr('data-id');
                layer.load(0, {shade: false});
                $.ajax({
                    url:'/delete/',
                    type:'POST',
                    headers:{
                        'X-CSRFToken':$('meta[name=csrf-token]').attr('content')
                    },
                    data:{
                        'id': id,
                    },
                    success: function (data) {
                         layer.closeAll('loading');
                        if(data['code'] === 200) {
                            if(self.attr('data')==='show'){
                            self.parent().parent().parent().css('display','none');}
                            else {
                                self.parent().parent().css('display','none')
                            }
                            layer.msg(data['message'])
                        }else {
                            layer.msg(data['message'])
                        }
                    }


                })
            })
        })
    </script>

{% endblock %}